
h1,h2,h3,h4,h5,h6,p,.contact,a{
    font-family: 'Barlow', sans-serif;
    color: rgba(0,0,0,0.8);
}

h1{
    font-size:45px;
    line-height:20px;
}

.h1b{
    font-weight: 500;
}
.h1l{
    font-weight: 300;
}

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

h2{
    font-weight: 500;
}

h3{
    font-weight: 500;
    line-height: 10px;
}