body{
      main{
        .contact{
            display: flex;
            flex-direction: column;
            text-align: center;
            &--perso{
                position:absolute;
                right: 20%;
                top: 60%;
                img{
                    width: 170px;
                }
            }
            form{
                div{
                    margin-bottom: 12px;
                    .box,textarea{
                        width: 500px;
                        padding: 10px;
                        font-weight: 500;
                    }
                    input,textarea{
                        border: none;
                        outline: none;
                    }
                    textarea{
                        height: 35vh;
                    }
                    input:focus, textarea:focus{
                        border: 2px solid #ffd100;
                    }
                }
                .bouton-envoyer{
                    input{
                    border-radius: 15px;
                    padding: 8px;
                    width: 80px;
                    background-color: #555;
                    font-size: 20px; 
                    color: #fff; 
                    cursor: pointer;
                    }
                    :hover{
                        background-color: #ffd100;
                        color: rgba(0,0,0,0.8);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

/////////////////////Responsive////////////////////////////////

// GSM //

@media only screen and (max-width: 530px){
    body{
        main{
          .contact{
              form{
                  div{
                      .box,textarea{
                          width: 300px;
                      }

                      textarea{
                          height: 300px;
                      }
                  }
                  .bouton-envoyer{
                      input{
                      font-size: 16px; 
                      }
                  }
              }
          }
      }
  }    
}